
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&family=Oswald:wght@200;700&display=swap');
body{
  padding: 16px 7%;
}
section{
  margin-bottom: 50px;
}
.py-5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

#home {
  margin-top: 40px; 
}

#faqs {
  margin-bottom: 80px; 
}
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  #home{
    background-image:url('https://shop.bandai.com/media/magefan_blog/04_12.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    h1{
      font-size: 80px;
      color: #641E16;
      font-family: 'Chakra Petch', sans-serif;
      font-weight: bold;
  
    }
    p{
      font-size: 80x;
      font-family: 'Chakra Petch', sans-serif;
      color:#000000;
      font-weight: bold;
    }
    
  }
  
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  #testimoni img{
    display: flex;
    justify-content: center;
  }

  #katalog{
    background-color: #dadfde;
  }
  #faqs{
    background-color: #dadfde;
    margin: 100px;
    h1{
      font-size: 80px;
      color: #641E16;
      font-family: 'Chakra Petch', sans-serif;
      font-weight: bold;
  
    }
  }
  
  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
    
    header {
      padding: 15px;
    }
  
    .nav-pills {
      flex-direction: row;
      align-items: center;
    }
  
    .nav-pills .nav-link {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
    section {
      padding: 60px 0;
    }
  }
  
  @media (max-width: 576px) {
    .rounded-lg-3 { border-radius: .3rem; }
    section {
      padding: 40px 0;
    }
  
    h1 {
      font-size: 1px;
    }
  
    h2 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    footer {
      padding: 15px;
    }
    .nav-pills {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-pills .nav-link {
      margin-bottom: 10px;
    }
    #faqs{
      flex-direction: column;
    }
  }

  @media (max-width:400px){
    .rounded-lg-3 { border-radius: .3rem; }
    section {
      padding: 40px 0;
    }
  
    h1 {
      font-size: 2.5rem;
    }
  
    h2 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    footer {
      padding: 15px;
    }
    .nav-pills {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-pills .nav-link {
      margin-bottom: 10px;
    }
  }



  